NODE_ENV=production

PUBLIC_BASE_URL=https://app.onegodian.com
API_BASE_URL=https://api.onegodian.org

ODIN_BASE_URL=https://odin.onegodian.com
GALAXY_BASE_URL=https://galaxy.onegodian.com
QRV_BASE_URL=https://qrv.network

WORDPRESS_BASE_URL=https://onegodian.com

NEXTAUTH_URL=https://app.onegodian.com
NEXTAUTH_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

X_OMOS_APP_KEY=
